<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>課題1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body class="container">
    <header></header>
    <article>
      <%= yield %>
    </article>
  </body>
</html>
