<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>課題1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body>
    <nav class="teal darken-2">
      <div class="row">
        <div class="col s1"></div>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo white-text">課題1</a>
        </div>
      </div>
    </nav>
    <div class="row">
      <%= yield %>
    </div>
  </body>
</html>
